<!DOCTYPE HTML>
<html lang='en' xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Reset Password</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
</head>
<body>
<h1>Reset Password</h1>
<hr>

<form action="#" method="post" th:action="@{/resetpassword}" th:object="${newPassword}">
    <input th:field="*{bannerID}" th:value="${newPassword.getBannerID()}" type="hidden"/>
    <p>Password: <input th:field="*{password}" type="password"/></p>
    <p>Confirm Password: <input type="password"/></p>
    <p><input type="submit" value="Submit"/> <input type="reset" value="Reset"/></p>

    <div th:if="${error}">
        <p style="color: red" th:inline="text">[[${error}]]</p>
    </div>
    <div th:each="message : ${errorMessages}">
        <p style="color: red" th:inline="text">[[${message}]]</p>
    </div>
</form>
</body>
</html>