<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>This is the Admin Home page</title>
    <link rel="stylesheet" th:href="@{/css/admin.css}"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>
<div style="background-color:#337ab7; height:50px; color: black;">
    <a href="/logout" style="float: right; color: black;">Logout</a>
</div>
<h1 class="sans-serif-font" style="text-align: center">Welcome to Admin page</h1>
<div>
    <div>
        <h3 class="sans-serif-font inner-left"><b>Courses</b></h3>
        <a class="button sans-serif-font" th:href="@{/create-course}">Create Course</a>
    </div>
    <div th:each="course : ${courses}">
        <div class="card">
            <div class="course-container sans-serif-font">
                <div>
                    <form method="POST" th:action="@{/delete-course}">
                        <input id="courseID" name="courseID" th:value="${course.courseID}" type="hidden"/>
                        <button class="icon-btn" style="float: right" title="Delete" type="submit"><i
                                class="fa fa-trash"></i></button>
                    </form>
                    <form method="POST" th:action="@{/edit-course}">
                        <input id="originalCourseID" name="originalCourseID" th:value="${course.courseID}"
                               type="hidden"/>
                        <input id="courseName" name="courseName" th:value="${course.courseName}" type="hidden"/>
                        <button class="icon-btn" style="float: right" title="Edit" type="submit"><i
                                class="fa fa-edit"></i></button>
                    </form>
                    <p style="float: left;"><h4 th:text="${course.courseName}"></h4></p>
                </div>
                <h4 style="float: bottom" th:text="${course.courseID}"></h4>
            </div>
        </div>
    </div>
</div>
</body>
</html>