<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>CourseHome</title>
    <meta charset="UTF-8" content="text/html" http-equiv="Content-type"/>
    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" rel="stylesheet">
</head>
<body>

<div class="container-fluid">
    <form method="POST" th:action="@{'/add-ta?courseid='+${course}}">
        <input id="frmsub1" name="courseid"
               type="submit" value="Add TA"/>
    </form>

    <form method="POST" th:action="@{'/import?course-id='+${course}}">
        <input id="frmsub3" name="course-id"
               type="submit" value="Import Students from CSV"/>
    </form>
    <form method="get" th:action="@{/groupformationpage}">
        <button
                type="submit">Group Formation Rules page
        </button>
    </form>

</div>
<h1>TAs</h1>
<table class="table table-sm">
    <tr class="d-flex">
        <td class="col-1">BannerID</td>
        <td class="col-1">First Name</td>
        <td class="col-1">Last Name</td>
        <td class="col-2">Email</td>
    </tr>
    <tr class="d-flex" th:each="ta : ${currentTAList}">
        <td class="col-sm-1" th:text="${ta.getId()}"/>
        <td class="col-sm-1" th:text="${ta.getFirstName()}"/>
        <td class="col-sm-1" th:text="${ta.getLastName()}"/>
        <td class="col-sm-2" th:text="${ta.getEmail()}"/>

    </tr>
</table>
<br>
<h1>Students</h1>
<table class="table table-sm">
    <tr class="d-flex">
        <td class="col-1">BannerID</td>
        <td class="col-1">First Name</td>
        <td class="col-1">Last Name</td>
        <td class="col-2">Email</td>
    </tr>
    <tr class="d-flex" th:each="student : ${currentStudentList}">
        <td class="col-sm-1" th:text="${student.getId()}"/>
        <td class="col-sm-1" th:text="${student.getFirstName()}"/>
        <td class="col-sm-1" th:text="${student.getLastName()}"/>
        <td class="col-sm-2" th:text="${student.getEmail()}"/>

    </tr>
</table>
</body>
</html>