<!DOCTYPE HTML>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head>
    <title>Register</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" rel="stylesheet">
</head>

<body class="container">
<h3>Register</h3>
<form method="post" th:action="@{/register}" th:object="${user}">
    <div class="form-group col-lg-5">
        <label for="id">Banner Id</label>
        <input class="form-control" id="id" placeholder="Enter Banner ID" required th:field="*{id}" type="text">
    </div>
    <div class="form-group col-lg-5">
        <label for="firstName">First Name</label>
        <input class="form-control" id="firstName" placeholder="Enter First Name" required th:field="*{firstName}"
               type="text">
    </div>
    <div class="form-group col-lg-5">
        <label for="lastName">Last Name</label>
        <input class="form-control" id="lastName" placeholder="Enter Last Name" required th:field="*{lastName}"
               type="text">
    </div>
    <div class="form-group col-lg-5">
        <label for="email">Email</label>
        <input class="form-control" id="email" placeholder="Enter Email" required th:field="*{email}" type="email">
    </div>
    <div class="form-group col-lg-5">
        <label for="password">Password</label>
        <input class="form-control" id="password" placeholder="Enter Password" required th:field="*{password}"
               type="password">
    </div>
    <p class="alert alert-danger col-lg-5" th:if="${message ne null}" th:text="${message}"></p>
    <div class="form-group col-lg-5 text-center">
        <button class="btn btn-primary" type="submit">Register</button>
    </div>
</form>
<div th:each="message : ${errorMessages}">
    <p style="color: red" th:inline="text">[[${message}]]</p>
</div>
<br>
<a href="/login">Already have an account? Login here</a>

</body>

</html>